<div class="container" ng-controller="docController">
    <div class="page-header">
        <h1 class="row"><div class="col-xs-12 col-sm-10">Documentation</div>
        <div class="btn-group col-sm-2" dropdown>
            <button type="button" class="btn">{{ getVersion() }}</button>
            <button type="button" class="btn dropdown-toggle" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">API Version</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="v in docsVersion" ng-click="setVersion($index)"><a>{{ v.version }}</a></li>
            </ul>
        </div>
        </h1>
    </div>
    <div ng-include="subRoute()"></div>
</div>