<div class="jumbotron">
    <div class="container">
        <h1>ZBXLLD</h1>
        <p class="lead">Provides additional discovery features to Zabbix-Agent</p>
        <p><a href="https://github.com/skarllot/zbxlld" class="btn btn-lg btn-primary">View project on GitHub &raquo;</a></p>
    </div>
</div>

<div class="container">
    <h3>Why ZBXLLD?</h3>
    <p>Official Zabbix-Agent executable lacks detailed discovery for drives, network and services. ZBXLLD fill that void through user parameters to Zabbix-Agent.</p>
    
    <h3>Easy Install</h3>
    <p>To install ZBXLLD you just need to take three steps:</p>
    <ul>
        <li>Download and decompress ZBXLLD executable to any directory</li>
        <li>
            <p>Add the line indicated below to zabbix_agentd.conf:</p>
            <pre><code>UserParameter=zbxlld[*],C:\Zabbix\bin\zbxlld-win.exe $1 $2 $3</code></pre>
            <p>Don't forget to change executable path to match your install.</p>
        </li>
        <li>Restart Zabbix-Agent service.</li>
    </ul>

    <h3>Authors and Contributors</h3>
    <ul>
        <li><user-gravatar email="zbxlld@outlook.com" size="16"></user-gravatar> Fabricio Godoy (<a href="https://github.com/skarllot">@skarllot</a>)</li>
    </ul>

    <h3>Support or Contact</h3>
    <p>If you have suggestions or improvements, feel free to contact or submit a pull request. All contributions are welcomed.</p>
    <p>Open an <a href="https://github.com/skarllot/zbxlld/issues">issue on Github</a> for support or <a href="mailto:zbxlld@outlook.com">email me</a> for contact.</p>
</div>